/* Primary stylesheet for Module 2 Assignment Personal Portfolio
   Author: TJ Miranda */
body {
    background-color: #979090;
    font-family: sans-serif;
    padding: 1em;
    max-width: 600px;
}

a {
    color: #ada9a9;
    text-decoration: none;
}

h1 {    
    background-color: #000000;
    text-align: center;
    font-size: 180%;
    padding: 3px;
    color: #ffffff
}

h2 {
    font-size: 140%;
    border-bottom: 3px solid #111217;
}

ul {
    list-style-type: square;
}

footer {
    background-color: #000000;
    color: #ada9a9;
    padding: 20px;
    text-align: center;
}