/* Primary stylesheet for Module 2 Assignment Personal Portfolio
   Author: TJ Miranda */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    width: 100%;
    background-color: #d4cbcb;
    font-family: sans-serif;
    padding: 1em;
}

a {
    color: #ada9a9;
    text-decoration: none;
}

h1 {   
    width: 100%;
    background-color: #000000;
    text-align: center;
    font-size: 180%;
    padding: 3px;
    color: #ffffff
}

h2 {
    width: 100%;
    font-size: 140%;
    border-bottom: 3px solid #111217;
}

ul {
    padding-left: 50px;
    list-style-type: square;
}

footer {
    width: 100%;
    background-color: #000000;
    color: #ada9a9;
    padding: 20px;
    text-align: center;
}